/* in index.css or a new Popup.css */
.popup-container {
  width: 700px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50px 50px;
}

.popup-input {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  font-size: small;
  height: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.popup-button {
  display: flex;
  margin: 0.2rem;
  align-items: center;
  justify-content: center;
  background-color: darkcyan;
  color: white;
  font-size: small;
}

.popup-separator {
  display: flex;
}

.popup-message {
  display: flex;
  align-items: center;
}

.popup-message-text {
  margin: 0.5rem;
  font-size: medium;
}
