:root {
  --color-disabled-background: #cccccc;
  --color-disabled-foreground: #666666;
  --color-primary-text: #ffffff;
  --color-primary-background: #008b8b;
}

/* ポップアップ全体のラッパー */
.popup-wrapper {
  padding: 1rem;
  min-width: 320px; /* 最小幅を少し調整 */
  max-width: 700px; /* 最大幅を指定 */
  transition: width 0.2s ease-in-out; /* 幅の変更を滑らかにする */
  display: grid;
  grid-template-columns: auto 1fr; /* ラベル, 入力欄 */
  gap: 1rem 0.5rem; /* 行間, 列間 */
  align-items: center;
}

/* 幅計測用の非表示span */
.text-measurement {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap; /* 折り返しを防ぐ */
  font-size: small; /* popup-inputのフォントサイズと合わせる */
}

.popup-input {
  display: flex;
  width: 100%; /* 1frの幅全体を使う */
  box-sizing: border-box; /* paddingを含めて幅を計算 */
  align-items: center;
  /* justify-content: center; は不要なため削除 */
  font-size: small;
  height: 1rem;
  padding: 0.5rem;
}

.popup-button {
  display: flex;
  margin-left: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  font-size: small;
}

.popup-button:disabled {
  background-color: var(--color-disabled-background);
  color: var(--color-disabled-foreground);
  cursor: not-allowed;
}

.popup-separator {
  display: flex;
}

.popup-message {
  padding: 1rem;
}
