.options-page .options-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr; /* ラベル, 入力欄 */
  gap: 1rem 0.5rem; /* 行間, 列間 */
  align-items: center;
}

.options-page .options-container input {
  width: 500px;
  padding: 0.5rem;
}

.options-page .options-container .is-invalid {
  border-color: red;
}

.options-page .options-container .error-message {
  color: red;
  grid-column: 2;
}

.options-page .btn {
  padding: 0.5rem 1rem;
  background-color: darkcyan;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.options-page .option-title,
.options-page .option-subtitle {
  margin-left: 1rem;
}

.options-page .message-container {
  margin-left: 1rem;
}
